<div>
  <h3 class="mb-5">Chi tiết email</h3>
  <ul>
    <li>
      <span>Gửi từ: <%= mails.from %></span>
    </li>
    <li>
      <span>Đến: <%= mails.to %></span>
    </li>
    <li>
      <h6>Tiêu đề: <%= mails.title %></h6>
    </li>
    <li>
      <p>Nội dung: <%= mails.description %></p>
    </li>
  </ul>
</div>
<div>
  <a href="/history" class="btn btn-primary">Trở lại</a>
  <a href="/" class="btn btn-primary">Trang chủ</a>
</div>
