<div class="w-50 mx-auto mt-5 shadow p-4 rounded-3">
  <h1 class="text-center">Quên mật khẩu</h1>

  <% if (error) { %>
  <div class="alert alert-danger text-center"><%= error %></div>
  <% } %> <% if (success.length) { %>
  <div class="alert alert-success text-center"><%= success %></div>
  <% } %>

  <form method="post">
    <div class="mb-3">
      <label for="">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Email..."
      />
    </div>

    <div class="d-grid">
      <button class="btn btn-primary">Xác nhận</button>
      <a href="/auth/login" class="btn btn-danger mt-2">Trở lại</a>
    </div>
  </form>
</div>

<!-- npm i passport express-session connect-flash passport-local -->
<!-- Tích hợp đăng nhập bằng user, password cài thêm 1 gói mở rộng passport-local -->
